$colors: (
    'common': (
        'white': #fcf8ec,
        'white-2': #fff,
        'black': #620035,
        'mulberry': #620035,
        'emerald': #f0e8d1,
    ),
    'grey': (
        '1':#68665E,
    ),
    'theme': (
        'primary': #FF4121,
        'secondary': #ffca24,
    ),
    'border': (
        '1': #F1F1F9,
        '2': #EDEEEE,
    )
);



$white : #fff;
$black : #121018;