@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 Footer Style
/*----------------------------------------*/

.#{$theme-prifix}-footer{
    &-dec{
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: -0.01em;
        color: var(--tp-common-white);
        @media #{$lg}{
            margin-right: 40px;
        }
    }
    &-social{
        display: flex;
        align-items: center;
        gap: 6px;
        & a{
            height: 40px;
            width: 40px;
            border-radius: 42px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--tp-common-white);
            flex: 0 0 auto;
            &:hover{
                background: var(--tp-theme-secondary);
                color: var(--tp-common-black);
            }
        }
    }
    &-title{
        font-weight: 700;
        font-size: 18px;
        font-family: var(--tp-ff-p);
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: var(--tp-common-white);
    }
    &-widget{
        @media #{$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
        & ul{
            & li{
                list-style: none;
                &:not(:last-child){
                    margin-bottom: 12px;
                }
                & a{
                    font-weight: 600;
                    font-size: 16px;
                    letter-spacing: -0.01em;
                    color: rgba(252, 248, 236, 0.8);
                    &:hover{
                        color: var(--tp-theme-secondary);
                    }
                }
            }
        }
    }
    &-cta{
        padding: 22px 20px 30px 40px;
        margin-left: -40px;
        position: relative;
        margin-right: 14px;
        z-index: 1;
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
        &::before{
            position: absolute;
            content: "";
            border: 1px solid rgba(252, 248, 236, 0.1);
            width: 100%;
            height: 204px;
            top: -15px;
            right: -15px;
            z-index: -1;

        }
        &-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 142%;
            letter-spacing: -0.02em;
            color: var(--tp-common-mulberry);
        }
        &-link{
            font-weight: 600;
            font-size: 16px;
            color: var(--tp-common-mulberry);
            display: flex;
            &:hover{
                color: var(--tp-common-mulberry);
            }
            & svg{
                margin-right: 10px;
            }
        }
    }
    &-copyright{
        & p{
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -0.01em;
            color: rgba(252, 248, 236, 0.6);
            & a{
                color: var(--tp-common-white);
                &:hover{
                    color: var(--tp-theme-secondary);
                }
            }
        }
    }
    &-bottom{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 30px;
        padding-bottom: 13px;
    }
    &-policy{
        & a{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: rgba(252, 248, 236, 0.8);
            &:hover{
                color: var(--tp-theme-secondary);
            }
            &.dvdr{
                position: relative;
                padding-right: 20px;
                margin-right: 20px;
                &::before{
                    position: absolute;
                    content: "";
                    border-radius: 100%;
                    background: rgba(252, 248, 236, 0.8);
                    width: 4px;
                    height: 4px;
                    top: 8px;
                    right: 0;
                }
            }
        }
    }
    &-subscribe{
        & .tp-input{
            border-radius: 48px;
            height: 50px;
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-common-black);
            padding-left: 20px;
            padding-right: 135px;
            &::placeholder{
                font-weight: 400;
                font-size: 16px;
                color: var(--tp-grey-1);
            }
            &:focus{
                border: transparent;
            }
        }
        & button{
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--tp-common-mulberry);
            border-radius: 68px;
            padding: 12px 25px;
            background: var(--tp-theme-secondary);
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            &:hover{
                background: var(--tp-theme-primary);
                color: var(--tp-common-white);
            }
        }
    }
    &-3{
        &-style{
            & .tp-footer-widget {
                @media #{$xl,$lg,$md,$sm,$xs}{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            & .tp-footer-cta-title {
                font-family: var(--tp-ff-p);
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                color: var(--tp-common-white);
            }
            & .tp-footer-cta-link {
                color: var(--tp-common-white);
                &:hover{
                    color: var(--tp-theme-secondary);
                }
            }
        }
    }
}