@use '../utils' as *;
/*----------------------------------------*/
/*  2.1 Animations
/*----------------------------------------*/
@keyframes headerSlideDown {
  0% {
    margin-top:-150px
  }
  100% {
    margin-top:0
  }
}

@keyframes toLeftFromRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  50% {
    opacity: 0;
    transform: translate(-3px);
  }
  51% {
    opacity: 0;
    transform: translate(3px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(3px);
  }
  50% {
    opacity: 0;
    transform: translate(-3px);
  }
  51% {
    opacity: 1;
  }
}
@include keyframes(tpshake){
  10% {
    transform: translateY(-10px);
  }
  50% {
    transform: skew(15deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: translate(0);
  }
}
.icon-anime-wrap{
  & .icon-anime{
    transition: all .4s ease;
  }
  &:hover{
    & .icon-anime{
      animation-name: tpshake;
      animation-timing-function: ease-in-out;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
    }
  }
}


@keyframes zoom {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.16);
		transform: scale(1.16)
	}

}


@keyframes upslide-1 {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-8px);
	}
	60% {
		transform: translateY(-4px);
	}
}
.upslide-1{
	animation: upslide-1 4s linear forwards infinite alternate;
}