@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Breadcrumb
/*----------------------------------------*/

.#{$theme-prifix}-breadcrumb {
    &-title{
        font-size: 84px;
        letter-spacing: -0.02em;
        color: var(--tp-common-white-2);
        @media #{$lg,$md,$sm}{
            font-size: 60px;
        }
        @media #{$xs}{
            font-size: 50px;
        }
    }
    &-list{
        & .dvir{
            margin: 0 10px;
        }
        & span{
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.8);
            &.active{
                color: var(--tp-theme-secondary);
            }
        }
    }
    &-scroll{
        @media #{$lg,$md,$sm,$xs}{
            padding-top: 40px;
        }
    }
    &-bg{
        position: relative;
        padding-top: 190px;
        padding-bottom: 80px;
        @media #{$lg,$md,$sm,$xs}{
            padding-top: 120px;
        }
        &:before{
            content: "";
            background: rgba(32, 14, 24, 0.4);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
}



