@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 offcanvas
/*----------------------------------------*/

.tp-offcanvas {
	position: fixed;
	right: 0;
	z-index: 99;
	top: 0;
	width: 400px;
	background: var(--tp-common-white);
	padding: 50px 40px;
    height: 100%;
    overflow-y: scroll;
    @include translateX(100%);
    transition: all 0.3s ease-out 0s;
    &-open{
        @include translateX(0);
    }
    @media #{$xs} {
        width: 100%;
    } 
    @media #{$sm} {
        width: 400px;
    } 
    &-overlay{
        position: fixed;
        height: 100%;
        width: 100%;
        background: #000;
        z-index: 15;
        opacity: 0;
        transition: .3s;
        visibility: hidden;
        &-open{
            opacity: .4;
            visibility: visible;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-close{
        &-button {
            font-size: 28px;
            color: var(--tp-common-mulberry);
            &:hover{
                color: var(--tp-theme-primary);
            }
        }
    }
    &-gallery {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
    }
    &-title{
        font-size: 28px;
    }
    &-info {
        & span {
            display: block;
            margin-bottom: 4px;
            font-size: 16px;
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
    }
    &-social {
        & a {
            height: 44px;
            width: 44px;
            background-color: var(--tp-common-mulberry);
            border-radius: 100%;
            display: inline-block;
            text-align: center;
            line-height: 42px;
            margin-right: 2px;
            color: var(--tp-common-white);
            &:hover{
                background: var(--tp-theme-primary);
            }
        }
    }
}