@use '../utils' as *;
/*---------------------------------
    1.1 Common Classes
---------------------------------*/

.w-img{
	& img{
		width: 100%;
	}
}

.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}

.p-relative{
	position: relative!important;
}
.p-absolute{
	position: absolute!important;
}
.p-inherit{
	position: inherit!important;
}
.bg-position{
	@include background();
}
.common-underline{
	@include bgborder(currentColor, 0,0);
	@include transition(all .4s ease);
	&:hover{
		@include bgborder(currentColor, 0,100%);
		@include transition(all .4s ease);
	}
}
.tp-transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}
.slide-transtion {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

// custom-container-here
$container:(1790,1424,1324);

@each $number in $container{
  @media (min-width:1400px) {
    .container-#{$number}{
      max-width: #{$number}px;
    }
  }
}

.tp-h-630 {
    min-height: 630px;
}
.fw-500{
	font-weight: 500;
}