@use '../utils' as *;
/*---------------------------------
    1.2 Default Spacing
---------------------------------*/

.pt-170{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 115px;
    }
}
.pt-165{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 110px;
    }
}
.pt-160{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-155{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-150{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-145{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-140{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-135{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 95px;
    }
}
.pt-130{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-125{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 105px;
    }
}
.pt-120{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-115{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 95px;
    }
}
.pt-110{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 90px;
    }
}
.pt-105{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 75px;
    }
}
.pt-100{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 60px;
    }
}
.pb-170{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pt-180{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 100px;
    }
}
.pt-190{
    @media #{$lg,$md,$sm,$xs} {
        padding-top: 110px;
    }
}
.pb-165{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-160{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-155{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-150{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-145{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-140{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-135{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 95px;
    }
}
.pb-130{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 100px;
    }
}
.pb-125{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 95px;
    }
}
.pb-120{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 90px;
    }
}
.pb-115{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 85px;
    }
}
.pb-110{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 80px;
    }
}
.pb-105{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 75px;
    }
}
.pb-100{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 70px;
    }
}
.pb-95{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 75px;
    }
}
.pb-90{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 70px;
    }
}
.pb-80{
    @media #{$lg,$md,$sm,$xs} {
        padding-bottom: 60px;
    }
}