@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Postbox css
/*----------------------------------------*/

.#{$theme-prifix}-blog {
    &-title{
        font-family: var(--tp-ff-p);
        font-weight: 600;
        line-height: 133%;
        font-size: 24px;
    }
    &-cat{
        & span{
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -0.01em;
        }
        & .dvdr{
            position: relative;
            padding-right: 12px;
            margin-right: 12px;
            &::before{
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 30px;
                background: var(--tp-grey-1);
                top: 50%;
                transform: translateY(-50%);
                right: -1px;
            }
        }
    }
    &-style{
        & .tp-event-date {
            background: var(--tp-common-mulberry);
            padding: 17px 6px 6px 6px;
            width: 76px;
            height: 90px;
        }
        & .tp-event-date span {
            color: var(--tp-common-white);
        }
        & .tp-event-date h4 {
            color: var(--tp-common-white);
        }
    }
    &-sidebar{
        margin-left: -54px;
        @media #{$lg} {
            margin-left: -24px;
        }
        @media #{$md,$sm,$xs} {
            margin-left: 0;
        }
    }
    &-navigation{
        & a{
            display: flex;
            grid-gap: 20px;
             &:hover{
                & i{
                    color: #fff;
                    background-color: var(--tp-theme-primary);
                }
                & .tp-blog-navigation-title{
                    color: var(--tp-theme-primary);
                }
            }
        }
        & i{
            height: 50px;
            width: 50px;
            font-size: 17px;
            background: var(--tp-common-emerald);
            text-align: center;
            line-height: 50px;
            border-radius: 30px;
            flex: 0 0 auto;
            color: var(--tp-common-black);
            @include transition(); 
        }
        & span{
            font-size: 15px;
            color: var(--tp-common-mulberry);
            display: block;
            font-weight: 500;
            margin-bottom: 2px;
        }
        &-title{
            font-size: 18px;
            letter-spacing: inherit;
            line-height: 1.3;
            font-family: var(--tp-ff-p);
            font-weight: 600;
            letter-spacing: -0.03em;
            transition: all .4s ease;
        }
    }
    &-tag{
        & a{
            background: var(--tp-common-emerald);
            padding: 8px 15px;
            display: inline-block;
            margin-bottom: 5px;
            border-radius: 30px;
            color: var(--tp-common-mulberry);
            font-size: 15px;
            font-weight: 500;
            line-height: 1;
             &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
            }
        }
       &-social{
            border-top: 1px solid rgba(98, 0, 53, 0.1);
            border-bottom: 1px solid rgba(98, 0, 53, 0.1);
            padding: 32px 0;
            padding-bottom: 32px;
            padding-bottom: 10px;
       }  
       &-title {
            font-size: 20px;
            display: inline-block;
            letter-spacing: inherit;
            font-family: var(--tp-ff-p);
            font-weight: 600;
        }
    }
    &-social{
        & a{
            height: 40px;
            width: 40px;
            background: var(--tp-common-emerald);
            display: inline-block;
            text-align: center;
            border-radius: 30px;
            line-height: 40px;
            color: var(--tp-common-mulberry);
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
            }
        }
    }
}

.tp-widget{
    &-sidebar{
        background: var(--tp-common-emerald);
        box-shadow: 0 1px 1px 0 rgba(22, 18, 5, 0.08);
        padding: 35px;
    }
    &-search{
        position: relative;
        & input{
            background: var(--tp-common-emerald);
            height: 60px;
            font-weight: 500;
            font-size: 16px;
            color: var(--tp-common-black);
            border: none;
            padding-right: 60px;
            &::placeholder{
                font-weight: 500;
                font-size: 16px;
                color: #5a5860;
            }
            &:focus{
                border: none;
            }
        }
        & button{
            position: absolute;
            right: 30px;
            top: 20px;
            line-height: 1;
        }
    }
    &-cat{
        & ul{
            padding-left: 17px;
            & li{
                &::marker {
                color: var(--tp-common-mulberry); 
                }
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                & a{
                    font-size: 16px;
                    color: var(--tp-common-mulberry);
                    display: flex;
                    justify-content: space-between;
                    font-weight: 500;
                    &:hover{
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &-main-title{
        font-size: 26px;
    }
    &-post{
        &-content{
            & span{
                color: var(--tp-grey-1);
                font-size: 14px;
                display: block;
                margin-bottom: 3px;
                font-weight: 500;
            }
        }
        &-thumb{
            flex: 0 0 auto;
            overflow: hidden;
            width: 100px;
            height: 100px;
            margin-right: 20px;
            @media #{$xs,$md,$lg} {
                width: 70px;
                height: 70px;
            }
            & img{
                object-fit: cover;
                transition: all .6s ease-in-out;
                width: 100%;
                height: 100%;
            }
        }
        &-list{
            display: flex;
            align-items: center;
            &:hover{
                & .tp-widget-post-thumb{
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        &-title{
            font-size: 18px;
            font-weight: 600;
            letter-spacing: inherit;
            line-height: 1.25;
            font-family: var(--tp-ff-p);
            &:hover{
                color: var(--tp-theme-primary);
            }
            @media #{$xs,$md,$lg} {
                font-size: 16px;
            }
        }
    }
    &-support{
        padding: 14px;
        & .tp-widget-sidebar {
            background: none;
            box-shadow: none;
            padding: 21px 24px 100px 24px;
        }
        & .tp-btn-animetion .btn-icon {
            margin-top: 1px;
        }
        & .tp-btn {
            gap: 10px;
        }
        &-title{
            font-weight: 700;
            font-size: 34px;
            line-height: 132%;
            letter-spacing: -0.04em;
            color: var(--tp-common-white);
        }
    }
    &-author{
        &-thumb{
            & img{
                border-radius: 300px;
            }
        }
        &-subtitle{
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-grey-1);
        }
        &-title{
            font-weight: 700;
            font-size: 22px;
            letter-spacing: -0.01em;
            color: var(--tp-common-mulberry);
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
        & .tp-footer-social a {
            border: none;
            color: var(--tp-common-mulberry);
            &:hover{
                background: var(--tp-theme-primary);
                color: var(--tp-common-white);
            }
        }
    }
}

.tp-blog-comments{
    &-main{
        & ul{
            list-style: none;
        }
    }
    &-title {
        font-size: 36px;
        letter-spacing: inherit;
    }
    &-list{
        display: flex;
        grid-gap: 20px;
    }
    &-thumb{
        flex: 0 0 auto;
        & img{
            width: 70px;
            height: 70px;
            border-radius: 50px;
        }
    }
    &-content{
        & p{
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
        }
    }
    &-author{
        &-name{
            font-size: 18px;
            letter-spacing: inherit;
            margin: 0;
        }
    }
    &-date{
        font-weight: 500;
        font-size: 14px;
        color: var(--tp-common-mulberry);
    }
    &-btn{
        margin-top: 23px;
        & a{
            color: var(--tp-common-mulberry);
            font-size: 13px;
            font-weight: 600;
            display: inline-block;
            line-height: 1;
            padding: 7px 15px;
            background: var(--tp-common-emerald);
            border-radius: 30px;
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
            }
            & i{
                transform: rotate(-45deg);
            }
        }
    }
    &-children{
        margin-left: 100px;
        @media #{$lg,$md,$sm,$xs} {
            margin-left: 0;
        }
    }
}