@use '../../utils' as *;

/*----------------------------------------*/
/*  5.2 Postbox css
/*----------------------------------------*/
.#{$theme-prifix}-postbox {
    &-wrapper{
        @media #{$lg} {
            margin-right: 30px;
        }
        @media #{$md,$sm,$xs} {
            margin-right: 0;
        }
    }
    &-item{
        border: 1px solid rgba(98, 0, 53, 0.1);
    }
    &-sidebar{
        @media #{$xs} {
            padding-left: 0;
        }
    }
    &-thumb{
        position: relative;
        @media #{$xs} {
            & img{
                height: 350px;
                object-fit: cover;
            }
        }
        &-overlay{
            &:before{
                position: absolute;
                content: "";
                background: rgba(0, 0, 0, 0.4);
                height: 100%;
                width: 100%;
            }
        }
    }
    &-cat{
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 2;
        & a{
            background: var(--tp-theme-secondary);
            font-size: 13px;
            text-transform: uppercase;
            color: var(--tp-common-mulberry);
            padding: 8px 15px;
            font-weight: 600;
            border-radius: 30px;
            display: inline-flex;
            align-items: center;
            grid-gap: 5px;
            line-height: 1;
        }
    }
    &-title{
        font-size: 40px;
        font-weight: 700;
        @media #{$lg,$md,$sm,$xs} {
            font-size: 32px;
        }
        & a{
            &:hover{
                color: var(--tp-theme-primary);
            }
        }
        @media #{$xs} {
            font-size: 30px;
        }
    }
    &-meta{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &-border{
            border-bottom: 1px solid rgba(98, 0, 53, 0.1);
        }
        & span{
            color: var(--tp-grey-1);
            font-size: 15px;
            font-weight: 500;
            position: relative;
            margin-right: 13px;
            padding-right: 13px;
            line-height: 1;
            @media #{$sm,$xs} {
                margin-bottom: 10px;
            }
            & a{
                display: inline-flex;
                align-items: center;
            }
            & svg{
                margin-right: 5px;
            }
            & img{
                border-radius: 50px;
                height: 30px;
                width: 30px;
                margin-right: 5px;
            }
            &:not(:last-child)::after{
                content: "";
                background: rgba(98, 0, 53, 0.1);
                height: 20px;
                width: 1px;
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                @media #{$xs} {
                    display: none;
                }
            }
            
        }
    }
    &-video a {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 9;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin: auto;
        &:hover{
            background: var(--tp-theme-secondary);
        }
    }
    &-content, &-content-details{
        padding: 0 35px 30px 35px;
        @media #{$xs} {
            padding: 0 20px 20px 20px;
        }
        & > p{
            line-height: 162%;
            font-weight: 500;
        }
        & .tp-causes-quote {
            padding-right: 160px;
            @media #{$xs,$sm,$md,$lg} {
                padding-right: 0;
            }
        }
    }
    &-details{
        &-wrap{
            & .tp-postbox-item {
                border: none;
            }
        }
        &-list{
            & ul{
                display: grid;
                grid-template-columns: auto auto;
                padding-left: 15px;
                @media #{$xs} {
                    grid-template-columns: auto;
                }
                & li{
                    font-size: 16px;
                    color: var(--tp-common-mulberry);
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
        }
        &-author{
            & .sidebar-widget-author-img {
                flex: 0 0 auto;
                margin-bottom: 0;
                margin-right: 30px;
                @media #{$xs}{
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                & img{
                    height: 100px;
                    width: 100px;
                    border-radius: 100px;
                }
            }
            & .sidebar-widget-author {
                padding: 0;
                padding-bottom: 0;
                padding: 30px;
                border: none;
                border-radius: 14px;
                background: var(--tp-common-emerald);
                @media #{$xs}{
                    flex-wrap: wrap;
                }
            }
            & .sidebar-widget-author-content span {
                margin-bottom: 2px;
                display: inline-block;
            }
            & .sidebar-widget-author-name {
                margin-bottom: 12px;
                font-size: 20px;
            }
            & .sidebar-widget-author-content p {
                @media #{$xl,$lg,$md,$xs}{
                    & br{
                        display: none;
                    }
                }
            }
            & .sidebar-widget-author-social{
                & a{
                    margin-right: 8px;
                    font-size: 22px;
                    &:hover{
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
}

.tp-blog-gallery-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 3;
}
.tp-gallery-arrow {
    background: var(--tp-common-white);
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--tp-common-black);
    &:hover{
        color: var(--tp-common-white);
        background-color: var(--tp-theme-primary);
    }
}
.tagcloud{
    & a{
        font-weight: 500;
        font-size: 15px;
        color: var(--tp-common-black);
        line-height: 1;
        padding: 9px 17px;
        text-align: center;
        margin-bottom: 6px;
        background: var(--tp-common-white);
        display: inline-block;
        text-transform: capitalize;
        border-radius: 100px;
        &:not(:last-child){
            margin-right: 3px;
        }
        &:hover{
            color: var(--tp-common-white);
            background-color: var(--tp-theme-primary);
        }
    }
}