@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 brand css start
/*----------------------------------------*/

.#{$theme-prifix}-brand{
    &-logo{
        width: 100%;
        height: 120px;
        padding: 10px 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #f0e8d1;
    }
}

.#{$theme-prifix}-brand-2{
    &-item{
        width: 240px;
        height: 120px;
        text-align: center;
        border-right: 1px solid rgba(98, 0, 53, 0.06);
        border-top: 1px solid rgba(98, 0, 53, 0.06);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid  rgba(98, 0, 53, 0.06);
    }
    &-slider{
        &-active{
            & .swiper-slide{
                width: auto;
            }
        }
    }
}

.#{$theme-prifix}-brand-3{
    &-title{
        font-size: 16px;
        letter-spacing: -0.01em;
        & span{
            color: var(--tp-theme-primary);
        }
    }
    &-slider{
        &-active{
            & .swiper-slide{
                width: auto;
            }
        }
    }
    &-wrap{
        & .tp-brand-2-item {
            border: 1px solid rgba(98, 0, 53, 0.08);
            width: 340px;
            @media #{$sm,$xs}{
                width: 270px;
            }
        }
    }
}