@use '../../utils' as *;
/*----------------------------------------*/
/*  7.3 brand css start
/*----------------------------------------*/

.tp-cart{
    &-header{
        &-product{
            padding-left: 30px !important;
        }
    }
    &-list{
        @media #{$lg, $md, $sm, $xs}{
            overflow-x: scroll;
        }
        @media #{$md, $sm, $xs}{
            overflow-x: scroll;
            margin-right: 0;
        }
        .table > :not(caption) > * > * {
            padding: 20px 0;
            box-shadow: none;
            vertical-align: middle;
        }

        & table{
            background: transparent;
            @media #{$lg, $md, $sm, $xs}{
                width: 840px;
            }
        }

        & thead{
            background-color: #F1F3F4;
            & th{
                font-weight: 600;
                font-size: 16px;
                color: var(--tp-common-black);
                border: 0 !important;
                padding-top: 9px !important;
                padding-bottom: 9px !important;
                background: var(--tp-common-emerald);
            }
        }
        & tr{
            & td{
                border-color: rgba(98, 0, 53, 0.1);
                & .tp-cart-action-btn{
                    font-size: 16px;
                    color: var(--tp-grey-1);
                    font-weight: 500;
                    & svg{
                       transform: translateY(-1px);
                    }

                    &:hover{
                        color: #FF1826;
                    }
                }

                &.tp-cart-add-to-cart{
                    & .tp-btn{
                        border-radius: 0;
                    }
                }
            }
        }

        & tbody{
            --bs-table-bg: transparent;
            & tr{
                &:first-child{
                    & td{
                        padding-top: 30px !important;
                    }
                }
            }
        }
    }
    &-img{
        width: 70px;
        margin-right: 20px;
    }
    &-title{
        & a{
            margin-left: 20px;
            font-weight: 500;
            font-size: 16px;
            color: var(--tp-common-black);
            &:hover{
                color: var(--tp-theme-primary);
            }
        }
    }
    &-price{
        width: 126px;
        & span{
            font-size: 16px;
            color: var(--tp-common-black);
            font-weight: 500;
        }
    }
    &-quantity{
        width: 180px;
    }
    &-coupon{
        @media #{$sm, $xs}{
            margin-bottom: 20px;
        }
        &-input{
            &-box{
                & label{
                    font-size: 16px;
                    color: var(--tp-common-black);
                    margin-bottom: 7px;
                    font-weight: 500;
                }
            }
            & input{
                background: var(--tp-common-emerald);
                height: 46px;
                line-height: 46px;
                margin-right: 4px;
                max-width: 282px;
                font-size: 14px;
                color: var(--tp-common-black);
                padding-left: 26px;
                padding-right: 26px;
                font-weight: 500;
                border: none;
                text-transform: capitalize;
                @include placeholder{
                    color: #818487;
                    text-transform: capitalize;
                    font-size: 14px;
                }
            }

            & button{
                font-weight: 500;
                font-size: 16px;
                color: var(--tp-common-white);
                background-color: var(--tp-theme-primary);
                padding: 10px 30px;
                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-common-mulberry);
                }
            }
        }
    }
    &-update{
        &-btn{
            font-weight: 500;
            font-size: 16px;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            padding: 9px 29px;
            border: 1px solid rgba(98, 0, 53, 0.1);
            &:hover{
                background-color: var(--tp-common-mulberry);
                border-color: var(--tp-common-mulberry);
                color: var(--tp-common-white);
            }
        }
    }
    &-checkout{
        &-wrapper{
            background: var(--tp-common-emerald);
            padding:  36px 24px 28px;
            margin-left: -24px;
            @media #{$md, $sm, $xs}{
                margin-top: 50px;
                margin-left: 0;
            }
        }
        &-top{
            padding-bottom: 13px;
            margin-bottom: 19px;
            border-bottom: 1px solid rgba(98, 0, 53, 0.1);
            & span{
                font-size: 20px;
                color: var(--tp-common-black);
                font-weight: 500;
            }
        }
        &-shipping{
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(98, 0, 53, 0.1);
            margin-bottom: 15px;
            &-title{
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 7px;
                font-family: var(--tp-ff-p);
            }
            &-option{
                &:not(:last-child){
                    margin-bottom: 4px;
                }
                & input{
                    display: none;

                    &:checked{
                        & + label{
                            &::after{
                                border-color: var(--tp-theme-primary);
                            }
                            &::before{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                
                & label{
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--tp-common-mulberry);
                    position: relative;
                    padding-left: 25px;
                    &:hover{
                        cursor: pointer;
                    }
                    & span{
                        color: var(--tp-theme-primary);
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 5px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid rgba(98, 0, 53, 0.3);
                        transition: all .4s ease;
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        left: 4px;
                        top: 9px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--tp-theme-primary);
                        visibility: hidden;
                        opacity: 0;
                        transition: all .4s ease;
                    }
                }
            }
        }
        &-total{
            margin-bottom: 25px;
            & span{
                font-weight: 500;
                font-size: 18px;
                color: var(--tp-common-black);
            }
        }
        &-btn{
            font-size: 16px;
            font-weight: 500;
            color: var(--tp-common-white);
            background-color: var(--tp-theme-primary);
            display: inline-block;
            padding: 10px 30px;
            text-align: center;
            &:hover{
                background-color: var(--tp-common-mulberry);
                color: var(--tp-common-white);
            }
        }
    }
}

.cartmini{
    &__area{
        position: fixed;
        right: 0;
        top: 0;
        width: 360px;
        height: 100%;
        @include transform(translateX(calc(100% + 80px)));
        background: var(--tp-common-white)  none repeat scroll 0 0;
        -webkit-transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        -moz-transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        z-index: 999;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &.cartmini-opened{
            @include transform(translateX(0));
        }
    }
    &__wrapper{
        position: relative;
        min-height: 100%;
    }
    &__title{
        padding: 20px 20px;
		border-bottom: 1px solid var(--tp-border-5);
        box-shadow: 0 0 10px 0 rgba(129,129,129,.2);
		& h4{
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0;
		}
    }
	&__close{
		position: absolute;
		top: 17px;
		right: 20px;
		&-btn{
			background: transparent;
			color: var(--tp-common-black);
			font-size: 22px;
			&:hover{
				@include transform(rotate(90deg));
			}
		}
	}
    &__widget{
        height: 100%;

        &-item{
            position: relative;
            display: flex;
            padding: 20px;
            padding-right: 35px;
            border-bottom: 1px solid rgba(98, 0, 53, 0.1);
            transition: background-color .3s;
        }
    }
    &__thumb{
        margin-right: 15px;
        & img{
            width: 70px;
            height: 90px;
        }
    }
    &__content{
        & h5{
            font-size: 15px;
            margin-bottom: 12px;
            font-weight: 600;
            font-family: var(--tp-ff-p);
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }

        & .tp-product-quantity{
            width: 75px;
            padding: 0;

            .tp-cart-input[type="text"] {
                height: 30px;
                text-align: center;
                font-size: 13px;
                border: 1px solid rgba(98, 0, 53, 0.1);
                background-color: var(--tp-common-white);
                padding: 0;
            }

            .tp-cart-plus, 
            .tp-cart-minus {
                width: 20px;
                height: 30px;
                line-height: 30px;
                display: inline-block;
                text-align: center;
                font-size: 13px;
                left: 3px;
                & svg{
                    @include transform(translateY(-1px));
                    width: 10px;
                }

                &::after{
                    display: none;
                }
            }

            & .tp-cart-plus{
                left: auto;
                right: 3px;
            }
        }

    }
    &__del{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: var(--tp-common-black);
        font-size: 12px;
        &:hover{
            color: var(--tp-theme-primary);
        }
    }
    &__checkout{
        padding: 20px;
        padding-bottom: 85px;
        width: 100%;
        background: var(--tp-common-white);
        &-title{
            & h4{
                font-size: 18px;
                display: inline-block;
                font-weight: 600;
                margin-bottom: 0;
            }
            & span{
                float: right;
                font-size: 20px;
                color: var(--tp-common-black);
                font-weight: 600;
                color: var(--tp-theme-primary);
            }
        }
        &-btn{
            .tp-btn{
                font-size: 15px;
                text-transform: capitalize;
                &:hover{
                    background-color: var(--tp-common-mulberry);
                    color: var(--tp-common-white);
                }
            }

            & .tp-btn-border{
                font-size: 15px;
                text-transform: capitalize;
                background: transparent;
                border: 1px solid rgba(98, 0, 53, 0.1);
                color: var(--tp-common-black);
            }
        }
    }
    &__price{
        font-size: 14px;
        font-weight: 600;
        color: var(--tp-theme-primary);
    }
    &__quantity{
        font-size: 12px;
        font-weight: 500;
    }
    &__empty{
        margin-top: 150px;

        & img{
            margin-bottom: 30px;
        }

        & p{
            font-size: 16px;
            color: var(--tp-common-black);
            margin-bottom: 15px;
        }

        .tp-btn{
            background-color: var(--tp-grey-1);
            font-size: 15px;
            text-transform: capitalize;
            color: var(--tp-common-black);
            padding: 10px 30px;
            &:hover{
                background-color: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
    }
}