@use '../../utils' as *;

/*----------------------------------------*/
/*  7.5 checkout CSS
/*----------------------------------------*/


.tp-checkout{
    &-verify{
        &-item{
            margin-bottom: 40px;
            &:not(:last-child){
                margin-bottom: 14px;
            }
        }
        &-reveal{
            font-size: 16px;
            font-weight: 500;
            color: var(--tp-common-mulberry);
            margin-bottom: 0;
            display: inline-block;
            border: 1px dashed rgba(98, 0, 53, 0.1);
            padding: 8px 26px;
            width: 100%;
            
            & button{
                color: var(--tp-theme-primary);
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 4px;
                    width: 100%;
                    height: 1px;
                    background-color: var(--tp-theme-primary);
                }
            }
        }
    }
    &-btn{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: var(--tp-common-white);
        background-color: var(--tp-theme-primary);
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        border-radius: 100px;
        text-align: center;
        &:hover{
            background-color: var(--tp-common-mulberry);
            color: var(--tp-common-white);
        }
    }
    &-input{
        margin-bottom: 20px;
        & label{
            font-weight: 500;
            color: var(--tp-common-mulberry);
            font-size: 14px;
            margin-bottom: 5px;
            & span{
                color: red;
            }
        }
        & input,
        & textarea{
            width: 100%;
            color: var(--tp-common-mulberry);
            height: 50px;
            padding: 0 26px;
            line-height: 56px;
            font-size: 14px;
            background: var(--tp-common-emerald);
            border-radius: 100px;
            font-weight: 500;
            border: none;
            &::placeholder{
                font-weight: 500;
                font-size: 14px;
                color: rgba(98, 0, 53, 0.5);
            }
        }
        & textarea{
            height: 200px;
            resize: none;
            border-radius: 20px;
        }

        & .nice-select{
            height: 50px;
            line-height: 48px;
            border-radius: 0;
            border: none;
            color: var(--tp-common-mulberry);
            float: none;
            font-weight: 500;
            padding: 0 26px;
            background: var(--tp-common-emerald);
            border-radius: 100px;
            &::after{
                right: 26px;
                color: var(--tp-common-mulberry);
            }
            &.open{
                & .list{
                    @include transform(scale(1) translateY(0px));
                }
            }

            & .list{
                margin-top: 0;
                border-radius: 0;
                transform-origin: center center;
                @include transform(scale(.9) translateY(0px));
                width: 100%;
                padding: 12px 0;
                background: var(--tp-common-white);
                & .option{
                    line-height: 1.2;
                    min-height: inherit;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:hover{
                        color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &-option{
        margin-bottom: 4px;
        &-wrapper{
            margin-top: 10px;
            margin-bottom: 17px;
        }
        & input{
            display: none;
            &:checked{
                & ~ label{
                    &::after{
                        background-color: var(--tp-theme-primary);
                        border-color: var(--tp-theme-primary);
                    }
                    &::before{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

    }
    &-bill{
        &-area{
            padding: 45px 40px 24px;
            border: 1px solid rgba(98, 0, 53, 0.1);
            @media #{$xs}{
                padding: 45px 25px 24px;
            }
        }
        &-title{
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 35px;
        }
    }
    &-place{
        // place order
        padding: 44px 50px 50px;
        background: var(--tp-common-emerald);
        @media #{$lg}{
            padding: 35px 30px;
        }
        @media #{$md, $sm, $xs}{
            margin-top: 50px;
        }
        @media #{$xs}{
            padding: 45px 25px 24px;
        }
        &-title{
            font-size: 26px;
            font-weight: 600;
            margin-right: 37px;
            margin-bottom: 30px;
        }
    }
    &-payment{
        padding-bottom: 26px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(98, 0, 53, 0.1);
        &-item{
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &.paypal-payment{
                & label{
                    @include flexbox();
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
            & input{
                display: none;

                &:checked{
                    & ~ label{
                        &::after{
                            border-color: var(--tp-theme-primary);
                        }
                        &::before{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            & label{
                font-size: 14px;
                position: relative;
                padding-left: 27px;
                font-weight: 500;
                color: var(--tp-common-black);

                &:hover{
                    cursor: pointer;
                }
                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 5px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 1px solid rgba(98, 0, 53, 0.3);
                    transition: all .4s ease;
                }
                &::before{
                    position: absolute;
                    content: '';
                    left: 3px;
                    top: 8px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: var(--tp-theme-primary);
                    visibility: hidden;
                    opacity: 0;
                    transition: all .4s ease;
                }

                & img{
                    margin-left: 14px;
                    @include transform(translateY(-2px));
                }

                & a{
                    margin-left: 20px;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: 3px;
                        width: 100%;
                        height: 1px;
                        background-color: var(--tp-common-black);
                    }
                }
            }
        }
        &-desc{
            position: relative;
            padding-top: 10px;
            display: none;

            &::after{
                position: absolute;
                content: '';
                left: 57px;
                top: 0;
                width: 16px;
                height: 16px;
                background-color: #F6F7F9;
                @include transform(translateY(3px) rotate(45deg));
            }
            & p{
                background-color: #F6F7F9;
                padding: 19px 30px;
                margin-left: 27px;
                font-size: 14px;
                line-height: 1.57;
                color: #55585B;
                margin-bottom: 0;
            }
        }
    }
    &-agree{
        margin-bottom: 24px;
    }
}


.tp-return-customer{
    display: none;
    margin-top: 14px;
    padding: 40px 40px;
    background-color: transparent;
    border: 1px solid rgba(98, 0, 53, 0.1);
    &-input{
        margin-bottom: 20px;
        & label{
            font-weight: 500;
            color: var(--tp-common-mulberry);
            & span{
                color: red;
            }
        }
        & input{
            width: 100%;
            background: var(--tp-common-emerald);
            border: none;
            color: var(--tp-common-mulberry);
            height: 50px;
            padding: 0 26px;
            line-height: 56px;
            font-weight: 500;
            border-radius: 100px;
            font-size: 14px;
            &::placeholder{
                font-weight: 500;
                font-size: 14px;
                color: rgba(98, 0, 53, 0.5);
            }
            &:focus{
                border-color: var(--tp-theme-primary);
            }
        }
    }
    &-remeber{
        display: flex;
        & input{
            margin: 0;
            appearance: none;
            -moz-appearance: none;
            display: block;
            width: 20px;
            height: 20px;
            outline: none;
            flex : 0 0 auto;
            background: transparent;
            @include transform(translateY(2px));
            padding: 0;
            margin-right: 10px;
            border: 1px solid rgba(98, 0, 53, 0.2);
            border-radius: 4px;
            &:checked{
                position: relative;
                background-color: var(--tp-theme-primary);
                border-color: transparent;
                border: 1px solid rgba(98, 0, 53, 0.2);
                border-radius: 4px;
                &::after{
                    box-sizing: border-box;
                    position: absolute;
                    content: '\f00c';
                    font-weight: 700;
                    font-family: var(--tp-ff-fontawesome);
                    font-size: 14px;
                    color: var(--tp-common-white);
                    top: 50%;
                    left: 50%;
                    @include transform(translate(-50%, -50%));       
                }
            }
            &:hover{
                cursor: pointer;
            }
        }

        & label{
            font-size: 15px;
            font-weight: 500;
            color: var(--tp-grey-1);
            position: relative;
            z-index: 1;
            cursor: pointer;
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
    &-forgot{
        & a{
            font-weight: 500;
            font-size: 15px;
            color: var(--tp-theme-primary);
            position: relative;
            display: inline-block;

            &::after{
                position: absolute;
                content: url('../../assets/img/product/icon/check.svg');
                left: auto;
                right: 0;
                bottom: 4px;
                width: 0%;
                height: 1px;
                background-color: var(--tp-theme-primary);
                transition: all .4s ease;
            }

            &:hover{
                &::after{
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
        }
    }
}

.tp-order{
    &-details{
        $details : &;

        padding: 70px 100px 55px;
        @media #{$xl}{
            padding: 70px 70px 55px;
        }
        @media #{$lg}{
            padding: 70px 30px 55px;
        }
        @media #{$sm}{
            padding: 70px 50px 55px;
        }
        @media #{$xs}{
            padding: 40px 30px 45px;
        }
        
        &-icon{
            margin-bottom: 22px;
            & span{
                display: inline-block;
                width: 120px;
                height: 120px;
                line-height: 118px;
                text-align: center;
                font-size: 55px;
                color: var(--tp-common-white);
                border-bottom: 1px solid rgba(98, 0, 53, 0.1);
                border-radius: 50%;

                & svg{
                    transform: translateY(-1px);
                }
            }
        }
        &-title{
            font-size: 30px;
            font-weight: 600;
            color: var(--tp-common-white);
            margin-bottom: 7px;
        }
        &-content{
            & p{
                font-size: 16px;
                color: var(--tp-common-white);
                line-height: 1.38;
            }
        }
        &-item{
            margin-bottom: 38px;

            &-wrapper{
                & .row{
                    & [class*="col-"]{
                        &:nth-child(2n){
                            #{$details}{
                                &-item{
                                    padding-left: 40px;
                                    @media #{$xs}{
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & h4{
                font-size: 18px;
                color: var(--tp-common-white);
                margin-bottom: 0;
                font-weight: 400;
            }
            & p{
                font-weight: 700;
                font-size: 18px;
                color: var(--tp-common-white);
                margin-bottom: 0;
            }
        }
    }
    &-info{
        &-wrapper{
            padding: 42px 50px;
            @media #{$lg}{
                padding: 42px 40px;
            }
            @media #{$xs}{
                padding: 42px 30px;
            }
        }
        &-title{
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        &-list{
            $list : &;
            & ul{
                & li{
                    list-style: none;
                    padding: 15px 0;
                    @include flexbox();
                    align-items: center;
                    justify-content: space-between;

                    &:not(:last-child){
                        border-bottom: 1px solid rgba(98, 0, 53, 0.1);
                    }
                    & span{
                        font-size: 15px;
                        color: var(--tp-common-mulberry);
                        font-weight: 500;
                    }
                    &#{$list}{
                        &-header{
                            padding-top: 0;
                            padding-bottom: 12px;
                            & h4{
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: 0;
                                font-family: var(--tp-ff-p);
                            }
                        }
                        &-desc{
                            & p{
                                font-size: 15px;
                                margin-bottom: 0;
                                font-weight: 500;
                                & span{
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                            }
                        }
                        &-subtotal{
                            & span{
                                &:last-child{
                                    color: var(--tp-theme-primary);
                                }
                            }
                        }
                        &-shipping{
                            & span{
                                & input{
                                    display: none;
                
                                    &:checked{
                                        & ~ label{
                                            &::after{
                                                border-color: var(--tp-theme-primary);
                                            }
                                            &::before{
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                                & label{
                                    font-size: 14px;
                                    position: relative;
                                    padding-right: 27px;

                                    & span{
                                        color: var(--tp-theme-primary);
                                    }

                                    &:hover{
                                        cursor: pointer;
                                    }
                
                                    &::after{
                                        position: absolute;
                                        content: '';
                                        right: 0;
                                        top: 5px;
                                        width: 16px;
                                        height: 16px;
                                        border-radius: 50%;
                                        border: 1px solid rgba(98, 0, 53, 0.1);
                                        transition: all .4s ease;
                                    }
                                    &::before{
                                        position: absolute;
                                        content: '';
                                        right: 4px;
                                        top: 9px;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: var(--tp-theme-primary);
                                        visibility: hidden;
                                        opacity: 0;
                                        transition: all .4s ease;
                                    }
                                }
                            }
                        }
                        &-total{
                            padding: 14px 0;
                            & span{
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    &-inner{
        background-color: var(--tp-common-white);
        box-shadow: 0px 30px 70px rgba(98, 0, 53, 0.1);
    }
}