@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 chose css start
/*----------------------------------------*/

.#{$theme-prifix}-chose {
    &-bigtitle{
        color: var(--tp-common-white);
    }
    &-content{
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
    }
    &-thumb{
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin-right: 0;
        }
        @media #{$md,$sm,$xs}{
            margin-bottom: 40px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            background: linear-gradient(180deg, rgba(255, 202, 36, 0) 53.69%, #ffca24 81.35%);
            height: 100%;
            bottom: 0;
            left: 0;
        }
    }
    &-contact{
        &-info{
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 2;
        }
        &-numbar{
            & span{
                font-weight: 500;
                font-size: 14px;
                letter-spacing: -0.02em;
                color: rgba(98, 0, 53, 0.6);
                line-height: 1;
            }
            & a{
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: var(--tp-common-mulberry);
            }
        }
        &-icon{
            border: 1px solid rgba(98, 0, 53, 0.1);
            border-radius: 62px;
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
        }
    }
    &-title{
        font-weight: 400;
        font-size: 34px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: var(--tp-theme-secondary);
        @media #{$xl,$lg,$md,$sm,$xs}{
            margin-bottom: 38px;
        }
        @media #{$lg,$md,$sm,$xs}{
            font-size: 25px;
        }
        &-wrap{
            @media #{$lg,$md,$sm,$xs}{
                margin-bottom: 30px;
            }
        }
    }
    &-dec{
       &-subtitle{
            font-weight: 600;
            font-size: 24px;
            color: var(--tp-common-white);
            flex: 0 0 auto;
            @media #{$lg,$md,$sm,$xs}{
                margin-right: 20px;
            }
        }
        & p{
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.01em;
            color: rgba(252, 248, 236, 0.6);
        }
    }
}