@use '../../utils' as *;

/*----------------------------------------*/
/*  7.10 fact css start
/*----------------------------------------*/

.#{$theme-prifix}-fact {
    &-title{
        font-weight: 700;
        font-size: 60px;
        letter-spacing: -0.02em;
        color: var(--tp-theme-secondary);
    }
    &-dec{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.01em;
        color: var(--tp-common-white);
        @media #{$lg}{
            font-size: 16px;
        }
    }
    &-item{
        &-border{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 1px;
                height: 100%;
                background: rgba(255, 255, 255, 0.1);
                right: -6px;
                top: 0;
                @media #{$lg,$md,$sm,$xs}{
                    display: none;
                }
            }
        }
    }
}