@use '../../utils' as *;

/*----------------------------------------*/
/*  7.11 faq css start
/*----------------------------------------*/

.#{$theme-prifix}-faq{
    &-item{
        margin-bottom: -1px;
        border-radius: 0;
        border-top: 1px solid rgba(98, 0, 53, 0.1);
        border-bottom: 1px solid rgba(98, 0, 53, 0.1);
        padding-top: 10px;
        padding-bottom: 13px;
        &.active{
            & .tp-faq-button{
                background: transparent;
                color: var(--tp-theme-primary);
                &::before,&:after{ 
                    background: var(--tp-theme-primary);
                    color: var(--tp-common-white);
                }
            }
        }
    }
    &-body{
        font-size: 16px;
        line-height: 26px;
        padding: 0;
        padding-bottom: 13px;
        padding-left: 95px;
        padding-right: 112px;
        @media #{$sm,$xs}{
            padding-right: 0;
            padding-left: 57px;
        }
        @media #{$xs}{
            padding-left: 0;
        }
        & p{
            font-size: 18px;
            line-height: 156%;
            letter-spacing: -0.01em;
            color: var(--tp-common-mulberry);
        }
    }
    &-button{
        background: transparent;
        letter-spacing: -0.4px;
        width: 100%;
        text-align: left;
        padding: 20px 0;
        position: relative;
        line-height: 1.3;
        font-weight: 600;
        font-family: var(--tp-ff-p);
        font-size: 22px;
        letter-spacing: -0.02em;
        color: var(--tp-common-mulberry);
        display: flex;
        padding-right: 50px;
        @media #{$xs}{
            font-size: 18px;
        }
        & span{
            font-weight: 500;
            margin-right: 70px;
            @media #{$sm,$xs}{
                margin-right: 30px;
            }
        }
        &::before,&:after{
            content: "\f068";
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            right: 0;
            top: 14px;
            width: 40px;
            height: 40px;
            border: 1px solid var(--tp-theme-primary);
            text-align: center;
            border-radius: 30px;
            line-height: 39px;
            font-size: 16px;
            font-weight: 400;
            color: var(--tp-theme-primary);
            transition: all .5s ease;
        }
        &.collapsed{
            &:after{
                content: "\f067";
            }
        }
    }
}