@use '../../utils' as *;

/*----------------------------------------*/
/*  7.12 gallery css start
/*----------------------------------------*/

.#{$theme-prifix}-gallery {
    &:hover{
        & img{
            transform: scale(1.1);
        }
        &::before{
            opacity: 1;
        }
        & .popup-image{
            opacity: 1;
        }
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(7, 6, 6, 0.5);
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .4s ease;
        z-index: 1;
    }
    & img{
        transition: all .6s ease;
    }
    & .popup-image{
        border-radius: 100%;
        border: 1.50px solid var(--tp-common-white);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--tp-common-white);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        opacity: 0;
        transition: all .4s ease;
        &:hover{
            background: var(--tp-common-white);
            color: var(--tp-common-mulberry);
        }
    }
}