@use '../../utils' as *;

/*----------------------------------------*/
/*  7.13 Hero css start
/*----------------------------------------*/

.#{$theme-prifix}-hero {
    &-spacing{
        padding-top: 204px;
        padding-bottom: 180px;
        margin-left: 93px;
        @media #{$x4l,$x3l,$xxl,$xl,$lg,$md,$sm,$xs}{
            margin-left: 12px;
        }
        @media #{$lg}{
            padding-bottom: 100px;
        }
        @media #{$md,$sm,$xs}{
            padding-bottom: 40px;
            padding-top: 150px;
        }
    }
    &-thumb{
        height: 100%;
        @media #{$lg,$md,$sm,$xs}{
            margin-left: 0;
        }
        & img{
            height: 100%;
            object-fit: cover;
        }
    }
    &-subtitle{
        font-weight: 400;
        font-size: 20px;
        color: var(--tp-common-mulberry);
        font-family: var(--tp-ff-heading);
    }
    &-title{
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        @media #{$xxl,$xl}{
            font-size: 80px;
        }
        @media #{$lg,$md,$sm,$xs}{
            margin-bottom: 40px;
        }
        @media #{$lg}{
            font-size: 55px;
        }
        @media #{$md,$sm}{
            font-size: 62px;
        }
        @media #{$xs}{
            font-size: 35px;
        }
        & span{
            color: var(--tp-theme-primary);
        }
    }
    &-dec{
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: var(--tp-common-mulberry);
    }
    &-btn{
        &-wrap{
            margin-left: 205px;
            @media #{$lg,$md,$sm,$xs}{
                margin-left: 0;
            }
        }
    }
    &-2{
        $self : &;
        &-wrap{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
                top: 0;
                left: 0;
            }
        }
        &-thumb{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 8s;
            -moz-transition: 8s;
            transition: 8s;
            transform: scale(1);
        }
        &-title{
            font-size: 100px;
            line-height: 100%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: var(--tp-common-white);
            animation-delay: 0.3s;
            animation-duration: 1s;
            opacity: 0;
            @media #{$lg}{
                font-size: 90px;
            }
            @media #{$md}{
                font-size: 80px;
            }
            @media #{$sm}{
                font-size: 60px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }
        &-dec{
            font-family: var(--tp-ff-p);
            font-weight: 600;
            font-size: 30px;
            line-height: 133%;
            letter-spacing: -0.02em;
            color: var(--tp-common-white);
            animation-delay: 0.7s;
            animation-duration: 1s;
            opacity: 0;
            @media #{$xs}{
                font-size: 24px;
                & br{
                    display: none;
                }
            }
        }
        &-content{
            padding-top: 172px;
            padding-bottom: 60px;
            position: relative;
            z-index: 1;
            @media #{$md,$sm,$xs}{
                padding-top: 140px;
                padding-bottom: 120px;
            }
            @media #{$sm,$xs}{
                padding-bottom: 150px;
            }
        }
        &-btn{
            animation-delay: 0.5s;
            animation-duration: 1s;
            opacity: 0;
            @media #{$xl,$lg,$md,$sm,$xs}{
                margin-bottom: 40px;
            }
        }
        &-slider{
            &-active{
                & .swiper-slide.swiper-slide-active {
                    & #{$self}{
                        &-title,
                        &-btn,
                        &-dec {
                            @include animation-name();
                            opacity: 1;
                        }
                        &-thumb{
                            -webkit-transform: scale(1.07); 
                            -moz-transform: scale(1.07);
                            transform: scale(1.07);
                        }
                    }
                }
            }
        }
        &-pagination{
            position: absolute;
            right: 70px;
            bottom: 70px;
            z-index: 2;
            @media #{$md}{
                right: 20px;
            }
            @media #{$sm,$xs}{
                right: auto;
                left: 12px;
            }
            & span{
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 58px;
                width: 54px;
                height: 54px;
                backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.08);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--tp-common-white);
                cursor: pointer;
                @include transition();
                &:hover{
                    background: var(--tp-theme-primary);
                }
            }
        }
    }
    &-3{
        &-style{
            position: relative;
            z-index: 1;
            padding-top: 470px;
            padding-bottom: 30px;
            @media #{$xl,$lg,$md,$sm,$xs}{
                padding-top: 350px;
            }
            @media #{$xs}{
                padding-top: 200px;
            }
            &::before{
                position: absolute;
                content: "";
                background: rgba(0, 0, 0, 0.4);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            & .tp-hero-title{
                color: var(--tp-common-white);
                font-size: 104px;
                @media #{$x3l}{
                    font-size: 100px;
                }
                @media #{$xxl}{
                    font-size: 90px;
                }
                @media #{$xl}{
                    font-size: 72px;
                }
                @media #{$lg,$md,$sm,$xs}{
                    font-size: 60px;
                }
                @media #{$xs}{
                    font-size: 36px;
                }
            }
        }
        &-video{
            &-wrap{
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                width: 290px;
                backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.02);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 10px 20px;
            }
            &-text{
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: -0.02em;
                color: var(--tp-common-white-2);
                display: inline-block;
            }
            &-btn{
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                width: 120px;
                height: 80px;
                background: var(--tp-common-black);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: var(--tp-common-white);
                &:hover{
                    color: var(--tp-common-black);
                    background: var(--tp-common-white-2);
                }
            }
            &-container{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                & video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}