@use '../../utils' as *;

/*----------------------------------------*/
/*  7.14 join css start
/*----------------------------------------*/

.#{$theme-prifix}-join {
    &-number{
        color: var(--tp-theme-primary);
        font-weight: 400;
        font-size: 150px;
        letter-spacing: -0.04em;
        line-height: 1;
        @media #{$lg,$md,$sm,$xs}{
            font-size: 110px;
        }
        @media #{$xs} {
            font-size: 70px;
        }
    }
    &-shape{
        &-1{
            left: 0;
            filter: drop-shadow(0px 20px 40px rgba(92, 97, 96, 0.20));
            top: 60px; 
            border-radius: 90px;
            @media #{$lg} {
                top: 190px!important; 
            }
        }
        &-2{
            left: 10%!important;
            border-radius: 90px;
            filter: drop-shadow(0px 20px 40px rgba(92, 97, 96, 0.2));
            top: auto!important;
            bottom: -42px;
            border-radius: 90px;
            @media #{$md} {
                left: 2%!important;
                bottom: -60px;
            }
        }
        &-3{
            right: 0%;
            border-radius: 90px;
            filter: drop-shadow(0px 20px 40px rgba(92, 97, 96, 0.2));
            top: 15%!important;
            border-radius: 90px;
            left: auto!important;
            @media #{$lg} {
                top: 30%!important;
            }
        }
        &-4{
            right: 8%;
            border-radius: 90px;
            filter: drop-shadow(0px 20px 40px rgba(92, 97, 96, 0.2));
            bottom: 0;
            border-radius: 90px;
            top: auto!important;
            left: auto!important;
            @media #{$md} {
                right: 0!important;
            }
        }
    }
    &-title{
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.04em;
        @media #{$xs} {
            font-size: 30px;
        }
    }
    &-btn{
        border: 1px solid rgba(98, 0, 53, 0.1);
        padding: 20px 25px;
        background: transparent;
        color: var(--tp-common-mulberry);
        width: 330px;
        justify-content: space-between;
    }
    &-down{
        &-tittle{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: var(--tp-grey-1);
        }
    }
}