@use '../../utils' as *;

/*----------------------------------------*/
/*  7.15 mission css start
/*----------------------------------------*/

.#{$theme-prifix}-mission {
    &-spacing{
        padding: 40px 40px 40px 70px;
        @media #{$lg,$md,$sm}{
            padding: 40px 40px 40px 40px;
        }
        @media #{$xs}{
            padding: 30px 20px 20px 20px;
        }
    }
    &-title{
        font-size: 70px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--tp-common-mulberry);
        @media #{$xl,$lg,$md,$sm,$xs}{
            font-size: 65px;
        }
        @media #{$lg,$md,$sm,$xs}{
            font-size: 55px;
        }
        @media #{$xs}{
            font-size: 30px;
            & br{
                display: none;
            }
        }
    }
    &-content{
        @media #{$md,$sm,$xs}{
            margin-right: 0;
        }
        & p{
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.01em;
            color: var(--tp-common-mulberry);
            @media #{$lg,$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
        & .tp-btn{
            color: var(--tp-common-mulberry);
            &:hover{
                color: var(--tp-common-mulberry);
            }
        }
    }
    &-form{
        &-wrap{
            padding: 40px 40px 40px 40px;
        }
        &-title{
            font-size: 30px;
        }
        &-dec{
            font-weight: 500;
            line-height: 150%;
            color: var(--tp-common-mulberry);
            letter-spacing: -0.01em;
        }
    }
}
.#{$theme-prifix}-custom {
    &-donate{
        &-wrap{
            padding: 40px 40px 30px 40px;
            margin-left: -37px;
            @media #{$md,$sm,$xs}{
                margin-left: 0;
                margin-top: 30px;
            }
            @media #{$xs}{
                padding: 30px 20px 20px 20px;
            }
        }
        &-title{
            font-size: 30px;
        }
        &-dec{
            font-weight: 500;
            line-height: 150%;
            color: var(--tp-common-mulberry);
            letter-spacing: -0.01em;
        }
        &-count{
            & ul{
                column-count: 3;
                gap: 0;
                & li{
                    list-style: none;
                    text-align: center;
                    border: 1px solid rgba(98, 0, 53, 0.1);
                    padding: 10px 10px;
                    margin-right: -1px;
                    & b{
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: -0.01em;
                        text-transform: uppercase;
                        color: var(--tp-common-mulberry);
                        display: block;
                        @media #{$xs}{
                            font-size: 18px;
                        }
                    }
                    & span{
                        font-weight: 500;
                        font-size: 13px;
                        letter-spacing: -0.01em;
                        text-transform: uppercase;
                        text-align: center;
                        color: var(--tp-grey-1);
                        @media #{$xs}{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &-progress{
            border: 1px solid rgba(98, 0, 53, 0.1);
            padding: 20px 30px 15px 30px;
            margin-top: -1px;
            & .tp-progress .progress {
                --bs-progress-height: 20px;
                --bs-progress-bar-bg: #FF4121;
                --bs-progress-bg: #f0e8d1;
                border-radius: 0;
            }
        }
        &-secure{
            font-weight: 500;
            font-size: 13px;
            letter-spacing: -0.01em;
            color: var(--tp-common-mulberry);
        }
    }
}

.#{$theme-prifix}-mission-3 {
    &-wrap{
        border: 1px solid rgba(98, 0, 53, 0.08);
        padding: 70px 20px 35px 20px;
    }
    &-title{
        font-family: var(--tp-ff-p);
        font-weight: 600;
        font-size: 30px;
        letter-spacing: -0.02em;
    }
    &-dec{
        font-weight: 500;
        letter-spacing: -0.01em;
        @media #{$xl,$lg,$md,$sm,$xs}{
            & br{
                display: none;
            }
        }
    }
    &-border{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background: rgba(98, 0, 53, 0.08);
            width: 1px;
            height: 100%;
            right: -15px;
            top: 0;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }
    }
    &-text{
        position: absolute;
        bottom: -18px;
        right: 0;
        left: 0;
        text-align: center;
        display: inline-block;
        & img{
            background: var(--tp-common-white);
            display: inline-block;
            padding: 0px 20px;
        }
    }
}