@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 step css start
/*----------------------------------------*/

.#{$theme-prifix}-step {
    &:hover{
        & .tp-step-number{
            & span{
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			}
        }
    }
    &-number{
        & h3{
            font-size: 26px;
            border-radius: 100%;
            background: var(--tp-theme-secondary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            transition: all .4s ease;
            -webkit-transition: .3s cubic-bezier(.12,0,.39,0);
            transition: .3s cubic-bezier(.12,0,.39,0);
            z-index: 1;
            position: relative;
            margin-bottom: 0;
            & span{
                display: block;
                border-radius: 100%;
                height: 100%;
                width: 100%;
                top: -1px;
                left: -1px;
                padding: 1px;
                box-sizing: content-box;
                margin: 0;
                position: absolute;
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                opacity: 0;
                -webkit-transition: .5s cubic-bezier(.12,0,.39,0);
                transition: .5s cubic-bezier(.12,0,.39,0);
                pointer-events: none;
                z-index: -1;
                background-color: var(--tp-common-white);
            }
        }
    }
    &-title{
        font-family: var(--tp-ff-p);
        font-size: 24px;
        letter-spacing: -0.04em;
        color: var(--tp-common-white);
        @media #{$lg,$md,$sm,$xs}{
            font-size: 20px;
        }
    }
    &-content{
        & p{
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: rgba(248, 243, 231, 0.6);
        }
    }
    &-arrow{
        position: absolute;
        top: 12%;
        right: -12px;
        color: var(--tp-theme-secondary);
    }
    &-downtext{
        & p{
            font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: var(--tp-theme-secondary);
            & a{
                text-decoration-line: underline;
                text-decoration-style: wavy;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: 10%;
                text-underline-offset: 12%;
                font-weight: 500;
            }
        }
    }
    &-top{
        &-meinus{
            height: 280px;
            width: 100%;
            margin-top: -280px;
            position: relative;
            z-index: -1;
        }
    }
    &-2{
        &-top{
            &-meinus{
                margin-top: 0;
                margin-bottom: -280px;
            }
        }
    }
}