@use '../../utils' as *;

/*----------------------------------------*/
/*  7.20 update css start
/*----------------------------------------*/

.tp-breadcrumb{
    &-thumb{
        & img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            mix-blend-mode: luminosity;
            object-fit: cover;
        }
    }
    &-bg{
        &::before{
            background: rgba(98, 0, 53, .70);
        }
    }
}

.tp-footer{
    &-bg{
        & img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            object-fit: cover;
            mix-blend-mode: luminosity;
        }
    }
    &-overly{
        &::before{
            content: "";
            background: rgba(98, 0, 53, .90);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
        }
    }
}

.tp-widget{
    &-ad{
        &-bg{
            & img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                mix-blend-mode: luminosity;
                object-fit: cover;
            }
        }
        &-overly{
            &::before{
                content: "";
                background: rgba(98, 0, 53, .90);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
}